body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 80%;
    margin: auto;
}
.top-banner{
    background-image: url("photos/top-banner.png");
    background-repeat:no-repeat;
    width: 100%;
    overflow: hidden;
}
.hire-btn{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url("photos/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 100px;
    height: 80%;
}
.experience{
    background-image: url("photos/exp-bg.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice:1 ;
}
#full-stack h2{
    font-size: 30px;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice:1 ;
}
#baby-web h2{
    font-size: 30px;
}
footer{
    text-align: center;
}
.half-width h2{
    font-size: 30px;
}
